asgiref==3.7.2
build==0.10.0
cfgv==3.3.1
click==8.1.6
colorama==0.4.6
distlib==0.3.7
Django==4.2.4
django-extensions==3.2.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.7
filelock==3.12.2
identify==2.5.26
inflection==0.5.1
nodeenv==1.8.0
packaging==23.1
pip-tools==7.3.0
platformdirs==3.10.0
pre-commit==3.3.3
psycopg2==2.9.7
PyJWT==2.8.0
pyproject_hooks==1.0.0
python-decouple==3.8
pytz==2023.3
PyYAML==6.0.1
sqlparse==0.4.4
tzdata==2023.3
uritemplate==4.1.1
virtualenv==20.24.2
